{% extends 'base.html'%}
{% load bootstrap4%}
{% block content %}
<head>
    
    <title>Home.</title>
    
</head>

<body>
  {% include 'navbar.html' %} 
<h1 class="text-center" style="font-family:'Times New Roman', Times, serif; color:aqua">Awards.</h1>
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center mb-0" id="jumbo" style="background-color:white;">

    <p class="text-center" style="font-family:'Times New Roman', Times, serif; color:black;font-size:25px;">Welcome to awards where you post projects which  are viewed and rated.</p>
  </div>
</div>


<div class="jumbotron itson mb-3 ">
    <div class="card-deck flex-wrap">
        {% for project in projects %}
        <div class="card border-secondary w-33"><a href="{% url 'project' project.id %}">
            <img src="{{project.project_image.}}" data-toggle="modal" alt="" class="img-fluid"id="eachimage1"></a>
            <p style="font-family:'Times New Roman', Times, serif;"> {{ project.description}}</p>
            <p style="font-family:'Times New Roman', Times, serif;"> {{ project.user.username}}</p>
            <span class="badge badge-pill badge-info" style="font-family:'Times New Roman', Times, serif;">
                <a href="{{ project.project_url}}">Visit Site</a>
            </span>
            <span class="badge badge-pill badge-danger" style="font-family:'Times New Roman', Times, serif;">Like</span>
            <span class="badge badge-pill badge-warning" style="font-family:'Times New Roman', Times, serif;"><a href="{% url 'project' project.id %}">View Project</a></span>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
  <div class="col-md-12">
    
  </div>
</div>



</body>
{% endblock %} 