{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

<body>
<h2 class="text-center">Latest reviews</h2>

{% if latest_list %}
<div>
    {% for review in latest_list %}
    <div>
        <h4><a href="{% url 'review' %}">
        {{ review.user }}
        </a></h4>
        <h6> Design Rating is {{ review.design }} {{ review.user }}</h6>
        <h6> Usability Rating is {{ review.usability }} {{ review.user }}</h6>
        <h6> Content Rating is {{ review.content }} {{ review.user }}</h6>
        <p>{{ review.comment }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-center">No reviews are available.</p>
{% endif %}


</body>
{% endblock %}