{% extends 'base.html' %} 
{% load bootstrap4 %}
{% block content %}

<body>
    <h2 class ="text-center">List Of Users</h2>
    {% if user_list %}
    <div class="row">
        {% for user in user_list %}
        <div class="col-xs-6 col-lg-4" style="font-family:'Times New Roman', Times, serif;">
            <h4>{{ user.username }} </h4>
            <h5>{{ user.email }} </h5>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No users are available.</p>
    {% endif %} 
</body>


{% endblock %}