{% load static %}
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Charmonman|Kodchasan|Dancing+Script|Spirax" rel="stylesheet">

<nav class="navbar bg-light ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="victor" href="{% url 'index' %}">HOOD.
      </a>
    </div>
    <div class="col-sm-6 col-md-6">
      {% if user.is_authenticated %}

        <div style="font-family:'Times New Roman', Times, serif;">
        <a href="">Edit Profile</a>
        </div>

        <div style="font-family:'Times New Roman', Times, serif;">
        <a href="{%url 'logout'%}">Logout</a>
        </div>

      {% else %}
        <div style="font-family:'Times New Roman', Times, serif;">
        <a class='btn btn-default' href="{%url 'login'%}">Login</a>
        </div>

        <div style="font-family: 'Dosis', sans-serif;">
        <a class='btn btn-default' href="{%url 'register'%}">Register</a>
        </div>

{% endif %}
    </div>

    <div class="col-sm-4 col-md-4 navbar-right">

      <form class="navbar-form" role="search" action="{% url 'search' %}">

        <div class="input-group">
          <input type="text" style="font-family:'Times New Roman', Times, serif;" class="form-control mr-sm-4" placeholder="Search Project" name="project">
          <div class="input-group-btn">
            <button class="btn btn-outline-danger my-2 my-sm-0" style="font-family:'Times New Roman', Times, serif;" type="submit">Search.</button>
          </div>
        </div>


      </form>

    </div>

  </div>
</nav>