{% extends 'base.html'%}
{% load bootstrap4%}
{% block content%}

<body>
  {% include 'navbar.html' %} 
  <div class="container" style="font-family:'Times New Roman', Times, serif;">
    <div class="row">
      <div class="col-md-6">
        <div class="card border-primary mb-6" style="max-width:25rem;">
          <div class="card-body text-center">
            <form   method="POST" style="font-family:'Times New Roman', Times, serif; ">
              {%csrf_token%} 
              {%bootstrap_form form%}
              <br>
            
              <div class="form-group">
                <input type="submit" class="btn btn-danger btn-md" value="Add Me.">
              </div>
            </form>
          </div>
        </div>
      </div>
      {% block scripts %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
      {%endblock%}

    </div>
  </div>
</body>

{%endblock%}