{% extends 'base.html'%} 

{% block content %}
<div style="height: 100%;">
  <div class="">
    {% if business %}
    <div>
        <div>
          <h2 class="text-center font-weight-bold">Found {{ business}} business for searched term {{message}}</h2>
        </div>
      </div>
    {% else %}
    <div>
        <div>
          <h2 class="text-center font-weight-bold">Found 0 business for the searched term {{message}}</h2>
        </div>
      </div>
    {% endif %}

  </div>

<div class="container-fluid">
     {% for business in business%}
    <div class="text-center">{{business.name}}</div>
    <div class="text-center">{{business.address}}</div>
    <div class="text-center">{{business.email}}</div>
    <div class="text-center">{{business.neighbourHood.name}}</div>
    {% endfor %}
    
</div>
{% endblock %}